body {
  background-image: url("https://github.com/karenhsiang/portfolio/blob/master/Gradient%20Background.jpg?raw=true");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
}

h1 {
  color: #E52215;
  margin-left: 30px;
  border-color: red;
  border-width: 20px;
  border-style: dashed;
}
