@import url('https://fonts.googleapis.com/css?family=Duru+Sans&display=swap');

body{ 
  font-family: 'Duru Sans', sans-serif;
}
h1{

  font-size: 40px;
}
.bigheading{
  color: 44E515;
    
}
.navbar{
  overflow:hidden; 
  background-color: #D9B2E8;
} 
.navbar a{
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px; 
}

.navbar a:hover{
  background-color:#FFFFFF; 
  color:#000000 ;
}

.navbar a.active{
  background-color:#B606F9;
  color: Black;
}
